@import url('https://fonts.googleapis.com/css?family=Raleway');
$color-white: #fff;
$color-lightblue: rgb(0, 163, 238);
$color-blue: rgb(0, 0, 224);
$color-green: rgb(0, 216, 115);
$color-darkblue: rgb(34, 34, 46);
$color-yellow: rgb(245, 245, 6);
$color-red: rgb(194, 48, 48);
$color-cyan: rgb(46, 216, 216);
$font-game: 'Raleway', sans-serif;