@import url('https://fonts.googleapis.com/css?family=Raleway');

$color-white: #fff;
$color-lightblue: rgb(0, 163, 238);
$color-blue: rgb(0, 0, 224);
$color-green: rgb(0, 216, 115);
$color-darkblue: rgb(34, 34, 46);
$color-yellow: rgb(245, 245, 6);
$color-red: rgb(194, 48, 48);
$color-cyan: rgb(46, 216, 216);
$font-scoreboard: 'Raleway', sans-serif;

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $color-darkblue;
	color: $color-white;
}


.menu {
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
}

.btn-wrap{
	margin-top: 10px;
}

.btn-animated {
	animation: moveInBottom .5s ease-in .5s;
	animation-fill-mode: backwards;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 20px;
	transition: all .2s;
	position: relative;
}


.btn-white{
	background-color: $color-white;
	color: $color-white;
}

.btn-light-blue{
	background-color: $color-lightblue;
	color: #000;	
}

.btn-green{
	background-color: $color-green;
	color: #000
}

.btn{
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 5px 10px #00000065;
	}
	
	&:active {
		transform: translateY(-1px);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .5s;
	}

	&:hover::after {
		background-color: $color-white;
		transform: scale(1.5, 1.7);
		opacity: 0;
	}
}


.btn-white::after{
	background-color: $color-white;
}

.btn-light-blue::after{
	background-color: $color-lightblue;
}

.btn-green::after{
	background-color: $color-green;
}


.game {
	color: $color-white;
}

.board {
	position: absolute;
	left: 50%;
	top: 50%;
	padding-top: 3px;
	transform: translate(-50%, -50%);
	width: 361px;
	height: 540px;
	border: 1px solid $color-white;
	border-radius: 3px;
}

.square{
	border-radius: 1px;
	margin: -2px 0px;
	box-sizing: border-box;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.068);
	display: inline-block;
	height: 30px;
	width: 30px;

	
}

.square-yellow{
	background-color: $color-yellow;
}

.square-red{
	background-color: $color-red;
}

.square-blue{
	background-color: $color-blue;
}

.square-green{
	background-color: $color-green;
}

.square-cyan{
	background-color: $color-cyan;
}

.square-none{
	background-color: lighten($color: $color-darkblue, $amount: 5)
}

.score-board{
	font-family: $font-scoreboard;
	text-align: center;
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translateY(-50%);
}

.score-label{
	font-weight: bolder;
}

.score-value{
	color: greenyellow;
	padding-bottom: 20px;
}