@import '../../sass/variables';

.board {
	position: absolute;
	left: 50%;
	top: 50%;
	padding-top: 3px;
	transform: translate(-50%, -50%);
	width: 361px;
	height: 538px;
	border: 3px solid $color-white;
	border-radius: 3px;
}