@import '../../sass/variables';

.score-board{
	text-align: center;
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translateY(-50%);
}

.score-label{
	font-weight: bolder;
}

.score-value{
	color: greenyellow;
	padding-bottom: 40px;
	padding-top: 5px;
}